@model IEnumerable<HomeKartEntity.User>
@{
    ViewBag.Title = "CustomerData";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<div class="search-box">
    <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <span class="input-group-text"><i class="fa fa-search"></i></span>
</div>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>

            <th>Manipulations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td class="custom-button">
                    @Html.ActionLink("Edit", "Update", new { id = item.UserId }, null)
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }, null)
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

