@model HomeKartEntity.Product
@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h3>Are you sure you want to delete this?</h3>
<dl>

    <dt>
        @Html.DisplayNameFor(model => model.ProductId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ProductId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ProductName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ProductName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CategoryId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CategoryId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ProductImageName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ProductImageName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ProductImage)
    </dt>

    <dd>
        <img src="@Url.Content(Model.ProductImage)" alt="" width="80" height="60" />
    </dd>
</dl>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="custom-button">
        <input type="submit" value="Delete" class="custom-button" />
        @Html.ActionLink("Back", "ProductData")
    </div>
}

