@model HomeKartEntity.Product
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div>
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ProductImage)" alt="" width="80" height="60" />
        </dd>
    </dl>
    <p class="custom-button">
        @Html.ActionLink("Update", "UpdateProduct", new { id = Model.ProductId })
        @Html.ActionLink("Back to List", "ProductData")
    </p>
</div>


