@model HomeKart.Models.ProductModel
@{
    ViewBag.Title = "ProductRegistration";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using (Html.BeginForm("ProductRegistration", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    @*if (TempData["Message"] != null)
        {
            <p>
                @TempData["Message"].ToString()
            </p>
        }*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <div class="sign-in-form" , id="myforms">

                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "validation_message" })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "validation_message" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "validation_message" })
                    <h2 class="title">Register Product</h2>

                    <div class="input-field">
                        <i class="fa fa-envelope"></i>
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "login-text", @placeholder = "Enter ProductName" } })
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "login-text", @placeholder = "Enter Price" } })
                    </div>
                    <div>
                      
                        @Html.DropDownListFor(model => model.CategoryId, ViewBag.State as SelectList, "Select Product Category", new { @class = "input-field" })
                    </div>
                    <input type="submit" value="Register" class="btn solid" />
                </div>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Upload Product Image</h3>
                    <p>
                       Enter the file you want to upload
                    </p>
                    <input type="file" id="fileupload" name="fileupload" />
                </div>
            </div>
        </div>
    </div>
}


